{% extends 'base.html' %}
{% load static %}
{% block title %}My Cart{% endblock title %}
{% block maincontent %}
<div class="container cart">
    <table>
      <tr id='carttablerow'>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      {% if cartprod %}
      {% for c in cartprod %}
      <tr data-table-id = '{{c.product.id}}' data-table-url = '{% url "delete_from_cart" %}' class='datatableid{{c.product.id}}' id='carttablerow'>
        <td>
          <div class="cart-info">
            <img src="{{c.product.photo.url}}" alt="" />
            <div>
             <a href="{% url 'productdetail' c.product.id %}"> <span style="color: #ff7a0d;font-size: 1.8rem;"><strong>{{c.product.name}}</strong></span><br></a>
              <span>Price: Rs.{{c.product.selling_price}}</span> <br />
            </div>
          </div>
        </td>
        <td>
          <div class="cartbutton" style="justify-content: flex-start;">
            <button data-id="{{c.product.id}}" data-url="{% url 'remove_from_cart' %}" class="minusbutton mb{{c.product.id}}" style="display: flex; align-items: center;justify-content: center;">-</button>
            <span data-id="{{c.product.id}}"class="buttontext bt{{c.product.id}}" style="display: flex;align-items: center;justify-content: center;margin-bottom: 1rem;">{{c.quantity}}</span>
            <button data-id="{{c.product.id}}" data-url="{% url 'add_to_cart' %}" class="plusbutton pb{{c.product.id}}" style="display: flex;align-items: center;justify-content: center;">+</button>
          </div>
        </td>
        <td><input type="hidden" class="subTotals" name="subtotal" data-subtotal='{{c.sub_total}}'> Rs.{{c.sub_total}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <h3>No products in your cart🥺</h3>
      {% if user.is_anonymous %}
      <h3><a style="color: #ff7a0d;" href="{% url 'login' %}">Login</a> or <a style="color: #ff7a0d;" href="{% url 'signup' %}">Signup</a> to add products to your cart😃</h3>
      {% endif %}
      {% endif %}
    </table>
    <div class="total-price">
      <table>
        <tr>
          <td>Total Cost:</td>
          <td class="prodOnlyTotal"></td>
        </tr>
        <!-- <tr>
          <td>Tax</td>
          <td>$50</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>$250</td>
        </tr> -->
      </table>
      {% if user.is_authenticated %}
      <a href="{% url 'checkout' %}" class="checkout btn">Proceed To Checkout</a>
      {% else %}
      <button class="checkout btn" style="cursor: pointer;outline: none;border: none;">Proceed To Checkout</button>
      {% endif %}
    </div>
  </div>

  <!-- Other Products -->
<section class="section featured">
    <div class="top container">
        <h1>Other Products</h1>
        <a href="{% url 'products' %}" class="view-more">View more</a>
    </div>
    <div class="product-center container">
        {% for pro in otherprod %}
        <div class="product-item">
            <div class="overlay">
                <a href="{% url 'productdetail' pro.id %}" class="product-thumb">
                    <img src="{{ pro.photo.url }}" alt="" />
                </a>
                <span class="discount">{{pro.discount_percent}}%</span>
            </div>
            <div class="product-info">
                <span>{{ pro.category.title}}</span>
                <a href="{% url 'productdetail' pro.id %}">{{ pro.name }}</a>
                <h4>Rs. {{ pro.selling_price }}</h4>
                <div class="cartbutton">
                    <a href="{% url 'productdetail' pro.id %}"><button class="quickviewbutton">Quick View</button></a>
                </div>
            </div>
            <ul class="icons">
                <a href="{% url 'productdetail' pro.id %}"><li> Quick View</li></a>
            </ul>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock maincontent %}
{% block jscode %}
<script>
  const subTotals = document.querySelectorAll('.subTotals');
  let total = 0
  subTotals.forEach(element => {
    total +=parseFloat(element.getAttribute('data-subtotal'))
  });
  document.querySelector('.prodOnlyTotal').innerText = 'Rs.'+total+'.0';
  console.log(total)
</script>
{% endblock jscode %}