{% extends 'base.html' %}
{% load static %}
{% block title %}My Orders{% endblock title %}
{% block maincontent %}
<div class="container cart" style="padding: 0;">
    <table>
      <tr id='carttablerow'>
        <th>Product</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th style="text-align: center;">Order Status</th>
      </tr>
      {% if orders %}
      {% for o in orders %}
      <tr style="border-bottom: 1px solid rgb(233, 233, 233);">
        <td>
          <div class="cart-info">
            <img src="{{o.product.photo.url}}" alt="" />
            <div>
              <span><a href="{% url 'productdetail' o.product.id %}" style="color: #ff7a0d;font-size: 17px;">{{o.product.name}}</a></span> <br />
              <span>Price: Rs.{{o.product.selling_price}}</span>
            </div>
          </div>
        </td>
        <td>
          <p style="font-weight: 500;">{{o.quantity}}</p>
        </td>
        <td><p style="color: #ff7a0d;">Rs.{{o.total_price}}.0</p></td>
        <td class="order-status">
          {% if o.order_status == 'pending' %}
          <p><span class="span-status">Pending</span></p>
          <p><span class="span-percentage pending"><span class="percent">20%</span></span></p>
          {% elif o.order_status == 'received' %}
          <p><span class="span-status">Received</span></p>
          <p><span class="span-percentage received"><span class="percent">40%</span></span></p>
          {% elif o.order_status == 'packed' %}
          <p><span class="span-status">Packed</span></p>
          <p><span class="span-percentage packed"><span class="percent">60%</span></span></p>
          {% elif o.order_status == 'on_the_way' %}
          <p><span class="span-status">On The Way</span></p>
          <p><span class="span-percentage ontheway"><span class="percent">80%</span></span></p>
          {% elif o.order_status == 'delivered' %}
          <p><span class="span-status">Delivered</span></p>
          <p><span class="span-percentage delivered"><span class="percent">100%</span></span></p>
          {% else %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <h3>No orders are placed yet🥺</h3>
      {% if user.is_anonymous %}
        <h3><a style="color: #ff7a0d;" href="{% url 'login' %}">Login</a> or <a style="color: #ff7a0d;" href="{% url 'signup' %}">Signup</a> to place orders😃</h3>
        {% endif %}
      {% endif %}
    </table>
  </div>

{% endblock maincontent %}
{% block jscode %}
{% endblock jscode %}