{% extends 'base.html' %}
{% load static %}
{% block title %}Terms & Conditions | Aqua!{% endblock title %}
{% block maincontent %}
<section class="terms">
    <div class="termsimage">
        <h1>TERMS & CONDITIONS</h1>
    </div>
    <div class="termstext">
        <ul class="points">
            <li>Get a flat 10% discount by signing up and registering on the platform.</li>
            <li>Goods once sold won't be returned.</li>
            <li>In case you change your mind to not buy the product after it is dispatched for delivery, we will charge you the delivery fees which is NRs. 100 for inside Kathmandu valley and Rs. 200 for outside the valley.</li>
            <li>There is so much effort we put forth for creating order, packaging and delivery. So, unless you aren't serious about the order, please feel free to not order in the first place.</li>
        </ul>
    </div>
</section>
{% endblock maincontent %}