{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block maincontent %} 
<div class="container">
    <div class="login-form">
      <form action="{% url 'login' %}" method="post" novalidate>
        <h1>Login</h1>
        <p>
          Already have an account? Login in or
          <a href="{% url 'signup' %}">Sign Up</a>
        </p>

        {% csrf_token %}
        {% for fm in form %}
        <i style="color: red;font-style: normal;">{{fm.errors|striptags}}</i> {{fm.label_tag}} {{fm}}
        {% endfor %}

        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom: 15px"/>
          Remember me
        </label>

        <p>
            By creating an account you agree to our
            <a href="#">Terms & Privacy</a>.
        </p>

        <div class="buttons">
            <a href="{% url 'home' %}"><button type="button" class="cancelbtn">Cancel</button></a>
            <button type="submit" class="signupbtn">Log In</button>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class='form-field-error' style="color: red;">{{error}}</p>
        {% endfor %}
        {% endif %}
        <a class="forgot" href="{% url 'password_reset' %}" style="margin-top: 2rem;color: #ff7a0d;">Forgot Password?</a>  
      </form>
    </div>
  </div>
  {% for message in messages %}
    <div class="message text-center alert alert-info{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
{% endblock maincontent %}