{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}

{% block maincontent %} 
<div class="container">
    <div class="login-form">
        <form action="{% url 'profile' user.id %}" method="post" novalidate>
            <h1>Your Profile</h1>
            {% csrf_token %}
            {% for fm in form %}
            <i style="color: red;font-style: normal;">{{fm.errors|striptags}}</i> {{fm.label_tag}}
             {{fm}}
            {% endfor %}
            <div class="buttons">
                <a href="{% url 'home' %}"><button type="button" class="cancelbtn">Cancel</button></a>
                <button type="submit" class="signupbtn">Update</button>
            </div>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class='form-field-error' style="color: red;">{{error}}</p>
            {% endfor %}
            {% endif %}
            <a class="forgot" href="{% url 'change_password' %}" style="margin-top: 2rem;color: rgb(73, 146, 0);">Change Password</a>  
        </form>
    </div>
</div>
{% endblock maincontent %}